<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone4,1_9.3_13E233_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-25522-330.dmg</string>
	<key>RootFilesystemKey</key>
	<string>7b88d42e0ab95a6324768c204c25a920381b90abe28d76fc52a3faf2b3525cc6d1b3c904</string>
	<key>RootFilesystemSize</key>
	<integer>2300</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA256</key>
	<string>bc025f1924ef78100ce5ac0d63a4371ccaa86e632c96cb8e4d81432f072d14cf</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>6b1bf14f37357ce1fe3018d8843d53b8</string>
			<key>Key</key>
			<string>cd0fb31a6891f1f606c393e91cff6a7ef48b6423bf6886302869f5da304a829a</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>dd6d06ac438582364e44e333bb4246b9</string>
			<key>Key</key>
			<string>4ac12fe923e92dace25a613530565b9b9f90c6ae81f49b5eb35376cc4dac083b</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25712-330.dmg</string>
			<key>IV</key>
			<string>0525116e2fbec7acfbcfc8d16d21c866</string>
			<key>Key</key>
			<string>203bbd17ca6057c79e177f0ef1e3df34d1715f757f7b4d7b715a778ec6338851</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>24e84bf536551c93c4d738565045b181</string>
			<key>Key</key>
			<string>450236ac1f07f7edecb3fbcc55af4d3d5239f3013835d9f4cf6bb3ab138946b8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>37916a8bfcf7e917067f80d60fba79b7</string>
			<key>Key</key>
			<string>ac208d67459dae9c7d3c132e10ef1f1782b9e467605e50428af122cd286af4ea</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>3a19c52b00fc3e07b9eaaa28b3bfb980</string>
			<key>Key</key>
			<string>31451444df3c7fcbbee9b87d40c62a5e901b3a12a64a6bfeefd509ed650ca9bd</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo7@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode7@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot9.n94.RELEASE.img3</string>
			<key>IV</key>
			<string>10820dedae0797ddd53e847f82f3513f</string>
			<key>Key</key>
			<string>d92a5e7e8aad8925b59ed849bec88bcd5990244b5facd6ebb169d153ab544aab</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
