<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone4,1_9.0_13A344_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-04038-272.dmg</string>
	<key>RootFilesystemKey</key>
	<string>63676d730527ba91d6eba3a0402ee5f8b3dc940a33d7ef056163a9fe1a3a8f499e276cda</string>
	<key>RootFilesystemSize</key>
	<integer>2300</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA256</key>
	<string>ff1d73a0beef7102f3ac041518cff2047ebafbaceaef3fc72f2f688a3eba8065</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>50986f7977b906a58eb271d77e16e772</string>
			<key>Key</key>
			<string>3ec71021563ef80ea09a1ea3dcf64cd4658697b67e14fbf2f88e1c23ed4a9fb1</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>ce23ec07f549c8024003ce784f8ca901</string>
			<key>Key</key>
			<string>23b7cbc755d796c0bfbf66068ec0cd59595f0995022e5e81c0860b66ed328c96</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03653-284.dmg</string>
			<key>IV</key>
			<string>c751d527a64bd5b9ae736866c70b2eb9</string>
			<key>Key</key>
			<string>caf50e8770e4c63e1977f6d609d407b9fa6fe7b2e4e634db6f8dd602e91cbf6d</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>6266cc08f8cd52a93fdf0ca76c4186af</string>
			<key>Key</key>
			<string>acd86587edf5525adfb51bf9ac14a60417ea17cb9e44d3e8f1ce15c4a3217df2</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>dcb3a8ce681cc74da9595ed85232ceb2</string>
			<key>Key</key>
			<string>cebc557ad0784d81523a0d6deeaa7f19cb2a4991adf48701a66c31c8eeab0bf1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>f29eaaf9b08c1eee8020090eabf1f038</string>
			<key>Key</key>
			<string>6235c5f842e2961ac5e53487329f9b4aef88b7b0985fcb321313e26bceb0a37f</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo7@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode7@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot9.n94.RELEASE.img3</string>
			<key>IV</key>
			<string>57cd16826f87965a1e4a49c419e7e34b</string>
			<key>Key</key>
			<string>0411f198363ae88510b965fbaf7015b0c209f846b9588f8f97f53504070c3b32</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
